@model Movielandia.Common.ViewModels.MovieViewModel
@{
    ViewData["Title"] = "Details";
}


<div class="container-fluid" align="center">
    <h1 class="lead text-center" style="font-size: 45px; ">@Model.Title</h1>
    <h1 class="lead text-center" style="font-size: 20px; ">@Model.Genre</h1>
    <h1 class="lead text-center" style="font-size: 25px; ">by @Model.Creator</h1>
    <hr />
    <div class="row">
        <div class="col-sm">
            <img src="@Model.CoverUrl" width="350" class="rounded" />
        </div>
        <div class="col-sm">
            <p class="lead">Storyline</p>
            <p class="text-justify lead" style="font-size: 18px;">@Model.Storyline</p>
        </div>
    </div>
</div>





