@using Microsoft.AspNetCore.Identity
@model IEnumerable<Movielandia.Common.ViewModels.AllMoviesViewModel>

@inject SignInManager<Movielandia.Models.MovielandiaUser> SignInManager
@inject UserManager<Movielandia.Models.MovielandiaUser> UserManager

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<div class="text-center">
    <h1 class="lead" style="font-size: 45px; ">Welcome to Movielandia, @UserManager.GetUserName(User)!</h1>
    <h1 class="lead">
        Explore the world of movies with our offers -<a asp-area="" asp-controller="Movies" asp-action="All"> see all movies</a>
    </h1>
</div>
<hr />

<div class="row">
    @foreach (var m in Model.Take(3))
    {

        <div class="card mx-auto bg-light" style="width: 205px;">
            <img class="card-img-top" style=" width: 205px;" src="@m.CoverUrl" />
            <div class="card-body">
                <h5 class="card-title text-center">@m.Title</h5>
                <hr />
                <div class="info">
                    <p class="lead">
                        <small>By @m.Creator</small>
                        <br />
                        <small>Genre: @m.Genre</small>
                        <br />
                        <small><a asp-area="" asp-controller="Movies" asp-action="All">Ticket price: @m.TicketPrice $</a></small>
                    </p>
                </div>
                <div class="buttonsForCard" style="text-align: center;">
                    <a class="btn btn-outline-secondary"  role="button">More</a>
                    <a asp-area="" asp-controller="Movies" asp-action="Details" asp-route-id="@m.Id" class="btn btn-outline-secondary" role="button">Details</a>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $(function () {
        $(".info").hide();
        $(".buttonsForCard").click(function () {
            $(this).prev(".info").slideToggle();
        });
    });
</script>
